@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.outfit-font {
  font-family: "Outfit", sans-serif;
}

.display-none {
  display: none;
}

.active {
  background-color: #0874f20d;
  border: 1px solid #0874f2;
}
